# Go compiled binaries and test files
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment and database directories
.env
.env.local
.env.*.local
pgdata/

# Coverage reports
coverage.txt
coverage.html

# Crypto/Security keys
*.pem
*.key
*.crt
/re-cli


# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude tfvars files (if they contain sensitive data)
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
*.tfplan
